.container{
    width:100%
}
.input_form{
    padding:1%;
    margin-left:2.5%;
    margin-bottom: 0.5%;
}
button{
    margin:3%;
    padding:2%;
    margin-bottom:5%;
}
.width_input{
    width:100%;
}
