<p>
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="botón menú" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Prueba técnica CRUD</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="botón cerrar sesión/logout">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
      <button mat-button color="primary" [routerLink]="['cat_empleado']">
        Catálogo de empleados
      </button>
      <button mat-button color="primary" [routerLink]="['buscar_empleado']">
        Añadir/Editar empleados
      </button>
      <mat-divider></mat-divider>
      <button mat-button color="primary" [routerLink]="['cat_inventario']">
        Catálogo de inventario
      </button>
      <mat-divider></mat-divider>
      <button mat-button color="primary" [routerLink]="['buscar_inventario']">
        Añadir/Editar inventario
      </button>
      <mat-divider></mat-divider>
      <button mat-button color="primary" [routerLink]="['cat_poliza']">
        Catálogo de polizas
      </button>
      <mat-divider></mat-divider>
      <button mat-button color="primary" [routerLink]="['buscar_poliza']">
        Añadir/Editar polizas
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</p>
